@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}


#scrumptious-grid {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr
}

tr:nth-child(even) {
    background-color: rgb(0, 219, 248)
}

tr:nth-child(odd) {
    background-color: plum
}

.yellowz {
    background-color:rgb(0, 219, 248)
}


.variation {
    background-color: rgb(0, 202, 238);

}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px
}

footer {
    font-size: 20px;
    padding: 24px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: rgb(218, 58, 204)
}

img {
    height: 200px
}

nav {
    border: 1px black;
    padding: 16px;
    background-color: rgb(198, 233, 1)

}

a:hover {
        background-color: blueviolet;
        transition: margin-right 2s ease-in-out .5s;;
    }

a {
    text-decoration: none;
}
